*, *:before, *:after
   box-sizing: border-box
html
   font-size: 14px
body
   font-family: 'Futura Book', sans-serif
   font-size: 1rem
img
   max-width: 100%
.section
   padding: 60px 0
   &-title
      text-align: center
      text-transform: uppercase
      font-family: 'Yeseva One', cursive
      &__text
         text-align: center
         font-size: 1.4rem
         line-height: 2rem
         margin: 1rem 18.5rem 3rem
         letter-spacing: 0.01rem
         text-transform: none
         font-family: 'Futura Book', sans-serif
      &__image
         display: flex
         justify-content: center
         align-items: center
         &::before, &::after
            content: ''
            width: 32px
            height: 2px
            background-color: $primary
            margin: 0 10px
