.section-title__description
   max-width: 32rem
   font-size: 1.4rem
   line-height: 2rem
   letter-spacing: 0.01rem
   margin: auto
.team
   &-card
      position: relative
      margin-top: 4.1rem
      &__block
         position: absolute
         top: -35px
         left: -35px
         background-color: $primary
         width: 70px
         height: 70px
      &__icon
         position: absolute
         top: 50%
         left: 50%
         margin-right: -50%
         transform: translate(-50%, -50%)
   &__text
      max-width: 40rem
      margin: auto
      text-align: center
      margin-top: 7.7rem
      font-size: 1.43rem
      line-height: 2.43rem
      &::before
         content: ''
         display: block
         margin: auto
         margin-bottom: -0.9rem
         width: 55px
         height: 2px
         background-color: $primary
         border-radius: 30px
.image-icon
   position: absolute
.bg-icon
   position: absolute
   top: -35px
   left: -35px
   width: 70px
   height: 70px
   background-color: $primary
.card
   &__title
      display: block
      margin-top: 0.2rem
   &__description
      position: absolute
      left: 7.5%
      padding-top: 1.5rem
      width: 86%
      text-align: center
      top: 19.8rem
      background-color: $light
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05)
   &__experience
      display: block
      margin-top: 1.6rem
      padding: 1.1rem 2.83rem
      font-family: 'Yeseva One', cursive
      font-size: 0.85rem
      letter-spacing: 0.05rem
      text-transform: uppercase
      background-color: $primary
      color: $light
   &__position
      font-size: 1.3rem
   